@use "../abstracts/variable";

.faq{
    padding: 120px 100px;
    color: white;
    min-height: 100vh;
    &__container{
        font-family: "Inter", sans-serif;
        .faq__header{
            font-size: 3.5rem;
            font-weight: 400;
            text-align: center;
            line-height: 5rem;
            span{
                display: inline-block;
            }
        }
        .faq__list{
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            align-items: start;
        }
        .faq__item{
            width: 100%;
            display: block;
            .faq__question{
                padding: 20px;
                width: 100%;
                text-align: start;
                font-size: 1.6rem;
                font-weight: 300;
                cursor: pointer;
            }
            .faq__answer{
                padding: 0 20px;
                
                font-size: 1.2rem;
                font-weight: 200;
                height: fit-content;
            }
        }
        .need__more__help{
            text-align: center;
            padding: 60px 120px;
            &__header{
                font-size: 2.5rem;
                font-weight: 400;
                padding-bottom: 20px;
            }
            &__text{
                font-size: 1.2rem;
                font-weight: 200;
                padding-bottom: 20px;
            }
        }
    }
    .mzacc-font{
        font-weight: 600;
        font-family: "oswald", sans-serif; // or any color you want
    }
}

@media (max-width: variable.$breakpoint-tablet) {
    .faq{
        padding: 60px 10px;
        &__container{
            .faq__header{
                font-size: 2.5rem;
            }
            .faq__list{
                padding: 20px;
            }
            .faq__item{
                .faq__question{
                    font-size: 1.3rem;
                }
                .faq__answer{
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (max-width: variable.$breakpoint-mobile) {
    .faq{
        padding: 80px 10px;
        &__container{
            .faq__header{
                font-size: 2rem;
                line-height: 2rem;
            }
            .faq__list{
                padding: 10px 0;
                font-size: .9rem;
            }
            .need__more__help{
                padding: 60px 10px;
            }
        }
    }
}