@use '../abstracts/variable';

.solution__container{
    margin-top: 60px;
    padding: 60px;
    text-align: center;
    .solution__text{
        font-family: "inter", sans-serif;
        padding: 0 160px;
        h1{
            font-size: 1rem;
            font-weight: 300;
            color: #4f4f4f;
            line-height: 3rem;
        }
        h3{
            font-size: 4rem;
            font-weight: 400;
            span{
                display: inline-block;
            }
        }
        p{
            font-size: 1.2rem;
            font-weight: 300;
        }
    }
    .solution__gridtext{
        font-family: "inter", sans-serif;
        padding: 300px 160px 10px;
        &__header{
            font-size: 1rem;
            font-weight: 300;
            color: #4f4f4f;
            line-height: 3rem;
        }
        &__text{
            font-size: 4rem;
            font-weight: 400;
        }
    }
    .solution__grid{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, minmax(380px, 1fr));
        gap: 2.4rem;
        padding: 90px;
        .grid{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            // padding: 80px 130px;
            border-radius: 12px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.39); // ✅ semi-hard shadow
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            .icon__container{
                padding: 25px;
            }
            h1{
                font-weight: 400;
            }
            p{
                padding: 20px 40px 40px;
                font-weight: 300;
            }
        }
    }
}

@media (max-width: variable.$breakpoint-tablet) {
    .solution__container{
        padding: 60px 20px;
        .solution__text{
            padding: 0 20px;
            h1{
                font-size: 1.2rem;
            }
            h3{
                font-size: 2.5rem;
            }
            p{
                font-size: 1rem;
            }
        }
        .solution__gridtext{
            padding: 100px 20px 10px;
            &__header{
                font-size: 1.2rem;
            }
            &__text{
                font-size: 2.5rem;
            }
        }
        .solution__grid{
            grid-template-columns: repeat(2, minmax(200px, 1fr));
            grid-template-rows: auto;
            padding: 20px;
            .grid{
                max-height: 200px;
                padding: 10px;
                .icon__container{
                    padding: 10px;
                }
                h1{
                    font-size: 1.2rem;
                    line-height: .9rem;
                    font-weight: 500;
                }
                p{
                    font-size: 0.9rem;
                    font-weight: 400;
                }
            }
        }
    }
}

@media (max-width: variable.$breakpoint-mobile) {
    .solution__container{
        .solution__text{
            h1{
                font-size: .7rem;
            }
        }
    }
}