.sub-companies{
    overflow-x: hidden;
    position: relative;
    padding: 250px 0px 0px;
    &__content{
        font-family: "inter", sans-serif;
        text-align: center;
        color: #f2f2f2;
        &-heading{
            font-weight: 300;
            font-size: 1rem;
        }
        &-text{
            padding: 10px 0;
            font-size: 3rem;
            font-weight: 300;
            span{
                display: inline-block;
                padding-right: 10px;
            }
        }
        p{
            padding: 0 120px;
            font-size: 1.5rem;
            font-weight: 200;
        }
    }
    .partnership-grid__container{
        padding: 150px 100px ;
        text-align: center;
        &__heading{
            font-family: "inter", sans-serif;
            font-size: 1rem;
            font-weight: 200;
            color: #f2f2f2f2;
            padding-bottom: 20px;
            text-align: center;
            span{
                display: inline-block;
            }
        }
        .partnership-grid{
            padding: 100px 0;
            display: flex;
            gap: 2.5rem;
            margin: auto;
            .partner{
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                .img__container{
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        border-radius: 16px;
                    }
                }
            }
        }
    }
}