@use "../abstracts/variable";

.navbar {
    height: 90px;
    width: auto;
    padding: 50px 190px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .navbar__logo{
            padding: 5px 8px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            gap: .4rem;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.312); // ✅ soft shadow
            max-height: 100%;
            max-width: 150px;
            background: rgba(255, 249, 249, 0.09);
            border-radius: 50px;
            backdrop-filter: blur(2.6px);
            -webkit-backdrop-filter: blur(2.6px);
            border: 1px solid rgba(255, 249, 249, 0.3);
            img{
                width: 100%;
                height: 100%;
            }
            p{
                font-family: "oswald", sans-serif;
                font-weight: 600;
                color: white;
                
                span{
                    display: block;
                    text-align: center;
                    line-height: 1.3rem;
                }
                .bigger__blue{
                    font-size: 1.5rem;
                    color: #0969d6;
                }
                .smaller__ash{
                    color: #cccccc;
                }
            }
        }
        .navbar__sidebar{
            max-height: 55px;
            padding: 15px;
            display: flex;
            flex-direction: row-reverse;
            background: rgba(255, 249, 249, 0.09);
            border-radius: 100px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.312); // ✅ soft shadow
            backdrop-filter: blur(2.6px);
            -webkit-backdrop-filter: blur(2.6px);
            border: 1px solid rgba(255, 249, 249, 0.3);
            .navbar__toggle{
                .arrow{
                    fill: #0969d6;
                    transition: transform 0.3s ease;
                }
            }
            .open{
                transform: rotate(180deg);
            }
            .navbar__links{
                max-width: 0;
                opacity: 0;
                overflow: hidden;
                transition: all 0.3s ease;
                font-family: 'inter', sans-serif;
                color: #cccccc;
                ul {
                    list-style: none;
                    display: flex; 
                    flex-direction: row; 
                    gap: 1.5rem; 
                    padding: 0 1.5rem; 
                    flex-wrap: nowrap;
                }
            }
            .expanded{
                max-width: 750px;
                opacity: 1;
                // overflow: visible;
            }
        }
    }
    

}

@media (max-width: variable.$breakpoint-tablet) {
    .navbar{
        padding: 20px 60px;
    }
}

@media (max-width: variable.$breakpoint-mobile) {
    // .navbar{
    //     padding: 10px 20px;
    //     &__container{
    //         display: block;
    //         align-items: stretch;
    //         gap: 1rem;
    //         .navbar__logo{
    //             transition: opacity 0.3s ease;
    //             &.hide-logo{
    //                 opacity: 0;
    //                 visibility: hidden;
    //             }
    //         }
    //         .navbar__sidebar{
    //             display: flex;
    //             flex-direction: column;
    //             align-items: flex-start;
    //             padding: 10px;
    //             max-height: 50px;
    //             transition: max-height 0.3s ease;
    //             overflow: hidden;
    //             &.expanded{
    //                 max-height: fit-content;
    //                 height: fit-content;
    //             }
    //             .navbar__toggle{
    //                 align-self: flex-end;
    //                 margin-bottom: .5rem;
    //             }
    //             .navbar__links {
    //                 flex-direction: column;
    //                 ul {
    //                     flex-direction: column;
    //                     align-items: flex-end;
    //                     gap: 1rem;
    //                     padding: 20px;
    //                 }
    //             }
    //         }
    //         .expanded{
    //             max-width: 100%;
    //             opacity: 1;
    //             // background: rgba(255, 255, 255, 0.1);
    //             padding: 1rem;
    //             border-radius: 12px;
    //         }
    //         // .navbar__container{

    //         // }
    //     }
    // }
    .navbar{
        height: fit-content;
        padding: 10px 20px;
        &__container{
            .navbar__logo{
                transition: opacity 0.3s ease;
                &.hide-logo{
                    transition: opacity 0.3s ease;
                    opacity: 0;
                    visibility: hidden;
                    width: 0;
                }
            }
            .navbar__sidebar{
                flex-direction: column;
                border-radius: 35px;
                align-items: flex-end;
                transition: max-height 0.3s ease;
                .navbar__links{
                    ul{
                        flex-direction: column;
                    }
                }

                &.expanded{
            
                    max-width: 100%;
                    max-height: fit-content;

                }
            }
        }
    }

}