$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$white-button-bg: white;
$button-text: #ffffff;

$green-button-bg: #c8ef6c;
$green-button-text: black;

$black-button: black;
$black-button-text: black;