$breakpoint-mobile: 480px;
$breakpoint-tablet: 884px;
$breakpoint-desktop: 1024px;

$white-button-bg: white;
$button-text: #ffffff;

$green-button-bg: #0969d6;
$green-button-text: white;

$black-button: black;
$black-button-text: black;